Cache 404 responses?

## 💬 Questions and Help

If I understand the code correctly currently only 200 and 202 status codes are added to the cache.

https://github.com/Baseflow/flutter_cache_manager/blob/c7881776325441f3900277499615981c40d12284/flutter_cache_manager/lib/src/web/web_helper.dart#L23-L24

In my case I have a image API endpoint which *tries* to generate a image/logo/etc. based on a user-provided website URL. Since the user input could just as well be an internal URL or just broken, it is perfectly fine for the endpoint to return a 404 response. Right now this is not cached on the client side but requested every time.

Is this the intended behavior, or any way to cache non-existent URLs?

I'm thinking whether a 404 is actually the right response for my API in the first place, it seems it is a common practice to return `204 No Content` for things like missing `/favicon.ico` paths.

It seems [the spec for 204 indicates that it should be cached](https://httpwg.org/specs/rfc7231.html#status.204), so it might be the better response in the first place 🤔️

> A 204 response is cacheable by default; i.e., unless otherwise indicated by the method definition or explicit cache controls (see Section 4.2.2 of [RFC7234]).

Would it make more sense to just add 204 to the cacheable responses? What was the thought about caching `202 accepted`? Sounds to me like a strange response to a GET request. 🤔️

I'm not fully sure anymore about the 202, I think somebody had that request because he created something with the get request. I'll have to search back in the issues. 

I think 204 makes sense to cache actually, but currently the cache is not build to support no-data, so that's a bit more work than just adding that status code to the list.

> Do you mind if I change the title to `Cache 204 - No content`

@renefloor no, i've just updated it :) thanks

> the cache is not build to support no-data, so that's a bit more work

I might give that a try when i've got some time

I'm running in to the same problem, not all images will necessarily exist (in my case the majority won't). Is it still the case that this library does not support caching empty data?

I have control over the server so I can change the response code but if I've understood correctly, right now it's not possible to cache a no-data response.